<div class="container py-3">

  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Pokeman!</span>
      </a>
    </div>
  </header>

  <main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-info">Pokeman List</h1>
      <!-- <p class="fs-5 text-muted">{{ title }}</p> -->
    </div>
    <div class="d-flexx justify-content-centerxx mb-3">
      <app-import-pokemon />
    </div>
  </main>
</div>
